<div id="menu">
    <ul>
        <li class="first current_page_item">
            <a href="/game/">{{ 'menu.game'|trans }}</a>
        </li>
        <li>
            <a href="/signup">{{ 'menu.register'|trans }}</a>
        </li>
        <li>
            <a href="/signin">{{ 'menu.login'|trans }}</a>
        </li>
        <li>
            <a href="#">{{ 'menu.contact'|trans }}</a>
        </li>
    </ul>
    <br class="clearfix" />
</div>
